.grid-2col--top {
  align-items: start;
}

.contact-link-stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .contact-link-stack {
    padding-left: 14px;
  }
}
